@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 216 30% 97%;
    --foreground: 220 40% 13%;
    --card: 0 0% 100%;
    --card-foreground: 220 40% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 40% 13%;
    --primary: 217 71% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 32% 91%;
    --secondary-foreground: 217 71% 30%;
    --muted: 214 32% 95%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 100% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 88%;
    --input: 214 32% 88%;
    --ring: 217 71% 30%;
    --chart-1: 217 71% 30%;
    --chart-2: 210 100% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 217 71% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217 71% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
